# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Editor folders
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local

# Optional cache folders
.pnpm-store/
.npm/
.cache/
